{%  extends "bootstrap/base.html" %}
{% block title %} Flasky {% endblock %}



{% block head %}
{{ super() }}

<!-- 加载 静态文件 favicon.ico    -->
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon" >

<!-- 加载了一个样式文件 styles.css  -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

{% endblock %}



{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
              <div class="container">
                            <div class="navbar-header">
                                          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                                        <span class="sr-only"> Toggle navigation </span>
                                                        <span class="icon-bar"></span>
                                                        <span class="icon-bar"></span>			
                                                        <span class="icon-bar"></span>				
                                          </button>
                                          <!-- main.index #蓝本名.index -->
                                          <a  class="navbar-brand" href="{{ url_for('main.index') }}">Flasky</a>
                            </div>
                            <div class="navbar-collapse collapse">
                            
                                          <ul class="nav navbar-nav">
                                                        <li><a href="{{ url_for('main.index') }}">首页</a></li>
                                                        
                                                        <!-- 用户登录后显示 -->
                                                        <!-- 未认证的用户无法查看资料页面 -->
                                                        {% if current_user.is_authenticated() %}
                                                        <li><a href="{{ url_for('main.user', username=current_user.username) }}">资料</a></li>
                                                        {% endif %}
                                          </ul>
                                          
                                          
                                         
                                          <ul class="nav navbar-nav navbar-right">
                                            
                                            <!-- 管理评论链接 -->
                                            {% if current_user.can(Permission.MODERATE_COMMENTS)%}
                                            <li>
                                            <a href="{{ url_for('main.moderate')}}">管理评论</a>
                                            </li>
                                            {% endif %}
                                           
                                           <!--  根据当前用户的登录状态分别显示“登录”或“退出”链接 -->
                                           {% if current_user.is_authenticated() %} <!-- is_authernticated() 如果用户已经登录返回True, 否则返回False  -->
                                           
                                           <li class="dropdown">
                                           <a href="#" class="dropdown-toggle" data-toggle="dropdown">账户<b class="caret"></b></a>                                           
                                           <ul class="dropdown-menu">
                                                <li> <a href="{{ url_for('auth.change_password') }}">更改密码 </a> </li>
                                                <li> <a href="{{ url_for('auth.change_email_request') }}">更改邮件地址 </a> </li>
                                                <li> <a href="{{ url_for('auth.logout') }}">退出</a> </li>
                                            <ul>                                          
                                           </li>
                                           
                                           {% else %}
                                           <li> <a href="{{ url_for('auth.login')}}">登录</a> </li>
                                           {% endif %}
                                          </ul>

                            </div>
              </div>
</div>
{% endblock %}


{% block content %}
<div class="container">

              {% for message in get_flashed_messages() %}
              <div class="alert alert-warning">
                   <button type="button" class="close" data-dismiss="alert">&times;</button>
                   {{ message }}
              </div>
              {% endfor %}

              {% block page_content %} {%  endblock %}
</div>
{% endblock %}


{% block script %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}