<!--  关注者 粉丝 -->
{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% block title %} LinuxHub - {{ user.username }}{{ title }} {% endblock %}

{% block page_content %}

<div class="page-header">
<h1>{{ user.username }}{{ title }} </h1>
</div>

<table class="table table-hover followers">
<thead> <tr><th>用户</th> <th>来自</th></tr> </thead>

{% for follow in follows %}
{% if follow.user != user %} <!-- 把自己这个粉丝,不要在这个显示出来 -->
<tr>

<td>
              <a href="{{ url_for('.user', username = follow.user.username)}}">
                            <img class="img-rounded" src="{{ follow.user.gravatar(size=32) }}"> <!--  用户头像 -->
                            {{ follow.user.username}}
              </a>
</td>
<td> {{ moment(follow.timestamp).format('L') }} </td> 
</tr>
{% endif %}
{% endfor %}

</table>

<div class="pagination">
{{ macros.pagination_widget(pagination, endpoint, username = user.username )}}
</div>

{% endblock %}